.search-content{
    border: 1px solid grey;
    background-color:#f0eeeef5;
    display: block;
    
}
.search-content input{
        display: block;
        margin: 10px auto ;
        padding: 10px 5px;
        border: 1px solid grey;
        border-radius: 5px;
        width: 80%; 
}
.search-content label{
    text-align: left;
    margin: 5px 25px;
    padding:5px;


}
.vechilesDetails{
    display:flex;
    flex-direction:row;
    background:white;
    border-radius: 10px;
    padding: 5px;
    width:90%;
    
    text-align: center;
    margin:15px auto;
}
.vechile-photo{
    justify-content:left;
    width:45%; 
    height:90%;
    }
.ticket{
    width:55%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 5px 20px;
    margin-left: 10px;
   
}
.passengerDetails{
    background:rgba(236, 149, 143, 0.952);
    font-size:bold;
    font-weight:bold;
    color:Black;
    align-items:left;
    border-radius: 10px;
    padding: 5px 15px;
    width:90%;
    margin:15px auto;
}
.color{
    background-color:#f0eeeef5;
    width: 100%;
    height:auto;
    border: .1px solid grey;
    border-radius: 10px;


}
