.text-center{
    margin: 10px auto;
}
.login-form{
    margin:0 auto;
    border: 1px solid #ccc;
}
.login-form input{
    display: block;
    margin: 30px auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 80%;
   
}
.btn-submit{
    display: block;
    margin: 30px auto;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 80%;
    background-color:rgba(247, 134, 93, 0.808);
    color:rgb(71, 57, 57);
    font-weight:bold;
    font-size:1.1em;
}
.error{
    color: red;
}
h2 {
    overflow: hidden;
    text-align: center;
}
h2:before,h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 31%;
    
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
}
h2:after {
    left: 0.5em;
    margin-right: -50%;
}
.form-heading{
    margin:15px 55px;
    text-align:left;
    color:rgba(0, 148, 99, 0.836);
}